emacs/elpa
emacs/eln-cache
emacs/auto-save-list
emacs/org-roam.db
emacs/projectile-bookmarks.eld
emacs/.cache
emacs/custom.el
emacs/transient
emacs/.dap-breakpoints
emacs/.lsp-session-v1
emacs/.org-id-locations
emacs/bookmarks
emacs/eshell
emacs/verilog-ext
emacs/tramp
emacs/recentf
emacs/tree-sitter
emacs/project-config
emacs/repo-config
emacs/projectile.cache
